html {
    height: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: radial-gradient(circle, plum, purple);
}

#game {
    color: pink;
    text-align: center;
    font-size: 5rem;
    line-height: 100px;
    text-shadow: 3px 3px 3px purple;
}

#container {
    background-color: plum;
    width: 600px;
    height: 450px;
    padding: 20px;
    margin: 0px auto;
    border-radius: 20px;
    box-shadow: 0px 10px 5px purple;
    -webkit-box-shadow: 0px 10px 5px purple;
    -ms-box-shadow: 0px 10px 5px purple;
    -o-box-shadow: 0px 10px 5px purple;
    -moz-box-shadow: 0px 10px 5px purple;
}

#score {
    color: white;
    background-color: rgb(177, 3, 177);
    padding: 20px;
    width: 65px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px purple;
    -ms-box-shadow: 0px 3px 5px purple;
    -webkit-box-shadow: 0px 3px 5px purple;
    -o-box-shadow: 0px 3px 5px purple;
    -moz-box-shadow: 0px 3px 5px purple;
    float: right;
}

#correct {
    /* position: relative; */
    /* left: 45%;
    top: 20%; */
    width: 75px;
    margin: 10px auto 0px auto;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    text-align: center;
    background-color: green;
    visibility: hidden;
}

#tryAgain {
    position: relative;
    width: 95px;
    top: -39px;
    margin: 0px auto;
    color: white;
    background-color: red;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    visibility: hidden;
}

#question {
    color: purple;
    background-color: pink;
    margin: 0px auto 0px auto;
    width: 460px;
    height: 90px;
    padding: 20px 0px;
    border-radius: 20px;
    box-shadow: 0px 3px 5px rgb(99, 76, 80);
    -moz-box-shadow: 0px 3px 5px rgb(99, 76, 80);
    -webkit-box-shadow: 0px 3px 5px rgb(99, 76, 80);
    -ms-box-shadow: 0px 3px 5px rgb(99, 76, 80);
    -o-box-shadow: 0px 3px 5px rgb(99, 76, 80);
    font-size: 5rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#paragraph {
    color: white;
    background-color: rgb(88, 88, 88);
    box-shadow: 0px 3px 3px rgb(0, 0, 0);
    -moz-box-shadow: 0px 3px 3px rgb(0, 0, 0);
    -o-box-shadow: 0px 3px 3px rgb(0, 0, 0);
    -ms-box-shadow: 0px 3px 3px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 3px 3px rgb(0, 0, 0);
    margin: 10px 70px 10px 70px;
    padding: 2px 20px 2px 150px;
    border-radius: 20px;
}

.options {
    float: left;
    height: 100px;
    width: 100px;
    margin-left: 20px;
    line-height: 100px;
    border-radius: 20px;
    box-shadow: 0px 4px 3px rgb(82, 1, 82);
    -webkit-box-shadow: 0px 4px 3px rgb(82, 1, 82);
    -moz-box-shadow: 0px 4px 3px rgb(82, 1, 82);
    -ms-box-shadow: 0px 4px 3px rgb(82, 1, 82);
    -o-box-shadow: 0px 4px 3px rgb(82, 1, 82);
    color: pink;
    background-color: rgb(170, 0, 170);
    text-align: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

.options:hover,
#start:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.options:active,
#start:active {
    top: 4px;
    box-shadow: 0px 0px 0px rgb(82, 1, 82);
    -moz-box-shadow: 0px 0px 0px rgb(82, 1, 82);
    -o-box-shadow: 0px 0px 0px rgb(82, 1, 82);
    -ms-box-shadow: 0px 0px 0px rgb(82, 1, 82);
    -webkit-box-shadow: 0px 0px 0px rgb(82, 1, 82);
}

#choice1 {
    margin-left: 70px;
}

#clear {
    clear: both;
}

#startGame {
    margin: 20px 70px;
    text-align: center;
}

#start {
    position: relative;
    height: 50px;
    width: 120px;
    margin-left: 20px;
    margin-top: -5px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgb(82, 1, 82);
    -webkit-box-shadow: 0px 4px 4px rgb(82, 1, 82);
    -moz-box-shadow: 0px 4px 4px rgb(82, 1, 82);
    -ms-box-shadow: 0px 4px 4px rgb(82, 1, 82);
    -o-box-shadow: 0px 4px 4px rgb(82, 1, 82);
    color: purple;
    background-color: pink;
    font-size: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
}

#time {
    float: left;
    width: 220px;
    padding: 10px 5px;
    border-radius: 20px;
    box-shadow: 0px 3px 3px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 3px 3px rgb(0, 0, 0);
    -moz-box-shadow: 0px 3px 3px rgb(0, 0, 0);
    -o-box-shadow: 0px 3px 3px rgb(0, 0, 0);
    -ms-box-shadow: 0px 3px 3px rgb(0, 0, 0);
    color: black;
    background-color: pink;
    text-align: center;
    visibility: hidden;
}

#gameover {
    position: fixed;
    top: 250px;
    width: 600px;
    height: 200px;
    margin: auto auto;
    border-radius: 20px;
    font-size: 3rem;
    text-align: center;
    line-height: 25px;
    color: pink;
    background-color: spurple;
    background: linear-gradient(to right, plum, purple);
    background: -webkit-linear-gradient(to right, plum, purple);
    background: -o-linear-gradient(to right, plum, purple);
    background: -moz-linear-gradient(to right, plum, purple);
    background: -ms-linear-gradient(to right, plum, purple);
    box-shadow: 0px 5px 5px rgb(0, 0, 0);
    -webkit-box-shadow: 0px 5px 5px rgb(0, 0, 0);
    -moz-box-shadow: 0px 5px 5px rgb(0, 0, 0);
    -o-box-shadow: 0px 5px 5px rgb(0, 0, 0);
    -ms-box-shadow: 0px 5px 5px rgb(0, 0, 0);
    visibility: hidden;
}